.site-header {
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    background-color: #006;
    height: auto;
}

.title-layout {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    margin-left: 20px;
}

.nav-layout {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.nav-button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #006;
    font-family: 'Kufam', cursive;
    font-size: small;
    font-weight: bold;
    transition-duration: 0.4s;
}

.nav-button:active {
    background-color: #b3b3ff;
}

@media(min-width: 651px) {
    .site-header {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
    }

    .title-layout {
        display: inline;
        flex-direction: column;
        margin-left: 20px;
    }

    .sub-title {
        margin-left: 0;
    }
    
    .nav-layout {
        grid-area: 1/2/2/3;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 5px
    }
}